/* Quirkey.css */
body {
	font-family: Georgia, Times, serif;
	background: #FFF;
	margin: 0px;
	color: #333;
}
h1, h2, h3 { 
	font-weight:normal;
}
h1 {
	font-size:36px;
}
h2 {
	margin: 10px 0px;
	font-size: 22px;
}
a:link, a:visited {
	color:#3C6A8F;
	text-decoration: underline;
}
a:hover {
	color:#333;
	text-decoration: underline;
}
a img {
	border:1px solid #E5E5E5;
}
#container {
	width: 100%;
}
#header_holder {
	text-align:center;
	border-bottom: 1px solid #E5E5E5;
}
#header {
	margin: 0px auto;
	width: 986px;
	text-align:left;
	position:relative;
	background:#FFF;
}
#logo {
	position: absolute;
	top: -118px;
	z-index: 100;
	cursor: pointer;
}
#header h1 {
	color:#797979;
	padding: 0px;
	margin: 0px 0px 10px 250px;
}
#header h1 a {
	text-decoration: none;
}
#quirkey_nav h1 {
	font-size:30px;
	color: #999;
}
#quirkey_nav h1 a {
	width: 100px;
}
#header h1 span.description {
	font-size: 12px;
	margin-left: 5px;
}
#header h1 span.description strong {
	font-weight:normal;
	color: #333;
}
.quirkey_nav_close {
	height: 10px;
}
.quirkey_nav_close a {
	width: 100%;
	border-top: 1px solid #E5E5E5;
	text-decoration: none;
	color: #666;
	display:block;
	height: 10px;
	font-size: 11px;
}
.quirkey_nav_close a:hover {
	background:#F4F4F4;
}
#footer {
	border-top: 1px solid #E5E5E5;
	text-align:center;
	padding: 10px;
	font-size: 11px;
	color: #444;
}
#footer .quirkey_links {
	font-size: 14px;
}
#footer .quirkey_links span {
	padding: 0px 5px;
	color: #999;
}
#main {
	width: 986px;
	position: relative;
	margin: 30px auto;
}


